<footer>
    <div id="contact" class=" container-fluid">
    <div class="row">
        <div class="info">
            <i class="ri-phone-fill"></i><em>01123456789 / (+02)4659876</em><br><br>
            <i class="ri-mail-send-fill"></i><em>abdelrahman@gmail.com</em><br><br>
            <div class="location">
                <i class="ri-map-pin-fill"></i><em><a href="https://www.google.com/maps/place/%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%D8%8C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%E2%80%AC%E2%80%AD/@30.0594884,31.2584643,12z/data=!4m2!3m1!1s0x14583fa60b21beeb:0x79dfb296e8423bba"  target="_blank">Cairo,Egypt</a></em>
            </div><br>
        </div>
    </div>
      <div class="follow_us">
                <a href="https://www.facebook.com/profile.php?id=100009430178752"  target="_blank" style="width: 100px; height: 100px;"><i class="ri-facebook-circle-fill"></i></a>
                <a href="https://www.linkedin.com/in/yasmeen-mahmoud-653713192"  target="_blank" style="width: 100px; height: 100px;"><i class="ri-linkedin-fill"></i></a>
                <a href="#"  target="_blank" style="width: 100px; height: 100px;"><i class="ri-twitter-fill"></i></a>
    </div>
</div>
</footer>