<div class="row productsList text-center">
    <mat-card class="col-4" *ngFor="let card of cards">
            <img mat-card-image src="{{card.url}}">
            <h2 class=" text-center" style="color: #5c5959 !important;">{{card.name}}</h2>
            <div class="row">
                <div  class="col-6" style="text-align: left;">
                    <span style="font-size: 20px; color: #5c5959;">   {{card.price}} $</span>
                </div>
                <div class="col-6 addBtn">
                    <button (click)="increaseCount(card)" mat-raised-button>+</button>
                    <span>{{card.quantity}}</span>
                    <button (click)="decreaseCount(card)" mat-raised-button>-</button>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <a class="col-6 detailsLink" [routerLink]="['/productDetails']" routerLinkActive="active" (click)="showItem(card)">
                    <span>More Details</span>
                    <i class="ri-arrow-right-s-line"></i>
                </a>
                <div class="col-6 addBtn2">
                    <button (click)="addItem(card)" mat-raised-button class="btn" >+ Add to cart</button>
                </div>
            </div>
    </mat-card>
</div>
