<div class="row navbar">
    <div class="col-4 text-center">
        <a [routerLink]="['home']"  routerLinkActive="active"><img src="../assets/imgs/logo.PNG"></a>
        <!-- <img src="../assets/imgs/logo.PNG"> -->
    </div>
    <div class="col-3">
        <div class="row">
            <input class="col-8 red-border" type="text" placeholder="Search" aria-label="Search">
            <div class="col-2  input-group-append">
            <span class="input-group-text lighten-3" id="basic-text1">
                <i class="ri-search-line text-grey" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-4 links">
        <a [routerLink]="['productsList']"  routerLinkActive="active">Products</a>
        <a [routerLink]="['cart']" routerLinkActive="active">Cart</a>
        <a [routerLink]="['login']" routerLinkActive="active"><i class="ri-user-line"></i></a>
    </div>
</div>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->