<div class="row cart-page">
    <!-- <mat-card class="col-6 detailsPage">
        <div class="row"  *ngFor="let card of products" (totalAmount)="orderQuantity(card)" style="margin-top: 20px;">
            <div class="col-5">
                <img mat-card-image src="{{card.url}}">
            </div>
            <div class="col-7">
                <h2>{{card.name}}</h2>
                <div class="row">
                    <div  class="col-7">
                        <span style="font-size: 20px;">Price of item:</span>
                        <span> {{card.price}} $</span><br><br>
                        <span style="font-size: 20px;">Quantity:</span>
                        <span> {{card.quantity}} </span><span>items</span> <br><br>
                        <span style="font-size: 20px;">Total price of items: </span>
                        <span>{{card.price * card.quantity}} $</span>
                    </div>
                </div>
                <div class="col-12 deletBtn">
                    <button class="col-2 btn" mat-raised-button (click)="remove(card.id)" color="warn">Delete</button>
                 </div>
            </div>
        </div>  
        <mat-card class="col-12 text-center">
            <span style="font-size: 20px;">Total Order Price   </span><span style="font-size: 30px;">{{ totalPrice }} $</span>
        </mat-card>
    </mat-card> -->
    <mat-card class="col-6 detailsPage">
        <div class="row"   *ngFor="let card of products" (totalAmount)="orderQuantity(card)" style="margin: 20px 0px 5px 10px;">
            <div  class="col-12 deletBtn">
                <button (click)="remove(card.id)"><i class="ri-close-fill"></i></button>
            </div>
            <div class="col-3">
                <img mat-card-image src="{{card.url}}">
            </div>
            <div class="col-9 detailsPageInfo">
                <h2>{{card.name}}</h2>
    
                <span style="font-size: 20px;"> {{card.price}} $</span>
                <br><br>
                <span style="font-size: 20px;">Quantity ({{card.quantity}})</span>
                <!-- <span> {{card.quantity}} </span><span>items</span> -->
                 <br><br>
                <span  style="font-size: x-large;">Total price ({{card.price * card.quantity}} $)</span>
                <span></span>

            </div>
        </div>
        <mat-card class="col-12 text-center">
            <span style="font-size: 20px;">Total Order Price   </span><span style="font-size: 30px;">{{ totalPrice }} $</span>
        </mat-card>
    </mat-card>
    <mat-card class="col-6 detailsPage">
        <h1>User Information</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" class="row" autocomplete="off" novalidate>
            <mat-form-field appearance="fill" class="col-8">
                <mat-label>Full Name</mat-label>
                <input matInput type="text" [(ngModel)]="fullName" name="fullName"  minlength="3"  placeholder="minimum 3 characters"  required #userFullName="ngModel" />
            </mat-form-field>
            <div *ngIf="userFullName.invalid && userFullName.dirty" class="error">
                <div *ngIf="userFullName.errors?.['required']">
                Please provide your full Name for your order request.
                </div>
                <div *ngIf="userFullName.errors?.['minlength']">
                The full name must contain at least 3 characters.
                </div>
            </div>
            <mat-form-field appearance="fill" class="col-8">
                <mat-label>Address</mat-label>
                <input matInput type="text"   minlength="6"  [(ngModel)]="address"  name="address"  placeholder="minimum 6 characters"   required  #userAddress="ngModel"/>
            </mat-form-field>
            <div *ngIf="userAddress.invalid && userAddress.dirty" class="error">
                <div *ngIf="userAddress.errors?.['required']">
                Please provide your userAddress for your order request.
                </div>
                <div *ngIf="userAddress.errors?.['minlength']">
                The full name must contain at least 6 characters.
                </div>
            </div>
            <mat-form-field appearance="fill" class="col-8">
                <mat-label>Credit Card Numbers</mat-label>
                <input matInput type="text"  [(ngModel)]="creditCard"  name="cardNumber"  placeholder="16-digit number"  minlength="16"  maxlength="16"  required [pattern]="cardNumberPattern"  #creditCardNumber="ngModel"/>
                <mat-hint>we'll never share your payment details with any one else.</mat-hint>
            </mat-form-field>
            <br>
            <br>
            <div *ngIf="creditCardNumber.invalid && creditCardNumber.dirty" class="error">
                <div *ngIf="creditCardNumber.errors?.['required']">
                Please provide your credit card number for your order request.
                </div>
                <div *ngIf="creditCardNumber.errors?.['minlength']">
                The credit card number must contain at least 16 characters.
                </div>
                <div *ngIf="creditCardNumber.errors?.['maxlength']">
                The credit card number must contain at maximum 16 characters.
                </div>
                <div *ngIf="creditCardNumber.errors?.['pattern']">
                The credit card number must only contains numbers.
                </div>
            </div>

            <button type="submit"class="col-8"  mat-raised-button [disabled]="form.invalid" color="primary" [routerLink]="['/check-out']" routerLinkActive="active">Order Now</button>
         </form>
    </mat-card>
</div>
