<div class="row"  style="justify-content: center;">
    <mat-card class="col-8 checkPage" >
     <div  class="text-center">
        <img src="../assets/imgs/success.PNG">
        <h1>Thank you for your order!</h1>
        <span>your order is Confirmed please all 1-3 business day for shipping</span>
     </div>
     <div  class="backBtn">
        <button [routerLink]="['/productsList']" routerLinkActive="active" mat-raised-button class="btn ">Back to Products Page</button>
    </div>
    </mat-card>
</div>