/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow-x: hidden;
    background-color: #fff;
}
.error_toaster_show {
    position: fixed;
    bottom: 60px;
    left: 25%;
    width: 50%;
    z-index: 999999;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #FFB7B7;
    border: 2px solid #FF4D4D;
    color: #333333;
    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.error_toaster_show h5 {
    margin-bottom: 0px !important;
    font-weight: 500;
    text-align: left;
}

.error_toaster_show img {
    text-align: left;
    padding-right: 12px;
}

.error_toaster_show button {
    font-size: 24px !important;
    height: 35px !important;
    width: 35px !important;
    position: absolute;
    right: 20px;
}

.error_toaster_show button i {
    vertical-align: unset !important;
}

.warning_toaster_show {
    position: fixed;
    bottom: 60px;
    left: 25%;
    width: 50%;
    z-index: 999999;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #FFE999;
    border: 2px solid #FFC700;
    color: #333333;
    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.warning_toaster_show h5 {
    margin-bottom: 0px !important;
    font-weight: 500;
    text-align: left;
}

.warning_toaster_show img {
    text-align: left;
    padding-right: 12px;
}

.warning_toaster_show button {
    font-size: 24px !important;
    height: 35px !important;
    width: 35px !important;
    position: absolute;
    right: 20px;
}

.warning_toaster_show button i {
    vertical-align: unset !important;
}

.success_toaster_show {
    position: fixed;
    bottom: 60px;
    left: 25%;
    width: 50%;
    z-index: 999999;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #B6E9D7;
    border: 2px solid #00B374;
    color: #333333;
    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.success_toaster_show h5 {
    margin-bottom: 0px !important;
    font-weight: 500;
    text-align: left;
}

.success_toaster_show img {
    text-align: left;
    padding-right: 12px;
}

.success_toaster_show button {
    font-size: 24px !important;
    height: 35px !important;
    width: 35px !important;
    position: absolute;
    right: 20px;
}

.success_toaster_show button i {
    vertical-align: unset !important;
}
.mat-typography h5 {
    font: 400 calc(20px * 0.83) / 20px Roboto, "Helvetica Neue", sans-serif !important;
    margin: 0 0 12px;
}
.navbar{
    padding: 16px 0px;
    background-color: #fff;
    border-bottom: solid 5px #f9f9f9;

}
.navbar img{
    width: 200px;
    height: 50px;
}
.navbar a {
    text-decoration: none;
    color: #6e6e6e;
    font-size: large;
    font-weight: 500;
    margin: 32px;
}
.links{
    text-align: center;
}
.links i{
    font-size: larger;
    font-weight: bolder;
}
.productsList img{
    width: 100%;
    height: 70%;
}
.productsList mat-card{
    width: 25%;
    height: 400px;
    margin:16px 16px 32px 16px;
}

.productsList{
    justify-content: center;
}
.addBtn ,.addBtn2, .backBtn, .deletBtn {
    text-align: end;
    margin-top: 5px;
}
.detailsLink{
    text-decoration: none !important;
    color: #607b9a !important;
    display: flex;

}
.detailsPage img{
    width: -webkit-fill-available !important;
    margin: 0px !important;
    height: -webkit-fill-available;
    border-radius: 1.5rem !important;
}
.detailsPage{
    margin-top: 20px;
    padding: 20px;
}
.detailsPageInfo{
    padding: 20px 75px;
}
.detailsPageInfo h2{
    font-size: x-large;
    color: #A56F6F;
}
.detailsPageInfo h3{
    font-size: 15px;
    margin: 16px 0px 0px !important;
}
.backBtn i, .backBtn i:hover{
    background-color: #34485E;
    font-size: 13px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 7px;
    color: #fff;
}
.deletBtn i, .deletBtn i:hover{
    font-size: 35px;
    color: #FF4D4D;
}
.backBtn button , .deletBtn button{
    border: none !important;
    background-color: #fff;
}
.checkPage{
    margin-top: 20px;
    padding: 20px;
}
.checkPage img{
    width: 300px;
}
.error{
    color: red;
}
 input.red-border {
    border: 1px solid #34485E;
    border-radius: 0.375rem 0rem 0rem 0.375rem !important;
  }
.input.red-border::placeholder{
    border: 1px solid #34485E !important;
}
  .input-group-text {
    background-color: #34485E !important;
    border: 1px solid #34485E !important;
    color: #fff !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 1.2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0rem 0.375rem 0.375rem 0rem !important;
}
.input-group-append{
    padding: 0px !important;
}
.addBtn .mat-raised-button{
    min-width: 44px !important;
    line-height: 28px !important;
    padding: 0 13px !important;
    background-color: #d9a8a8;
    color: #fff;
}
.addBtn span{    margin: 5px;}
.addBtn2 .mat-raised-button{
    min-width: 0px !important;
    line-height: 28px !important;
    padding: 0 13px !important;
    background-color: #fff;
    color: #5c5959;
}
.addBtn3 button ,.addBtn3 button:hover{
    background-color: #d9a8a8;
    color: #fff;
    border-radius: 2rem !important;
    min-width: 60%;
}
.addBtn3 i ,.addBtn3 i:hover{
    background-color: #34485E;
    font-size: 13px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 7px;
}
.countBtns .mat-raised-button{
    min-width: 44px !important;
    line-height: 28px !important;
    padding: 0 13px !important;
    background-color: #fff;
    color: #6e6e6e;
}